@import '../../master.css';

/* @font-face {
    font-family: BaseFont;
} */

.loading-screen{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: none;
    z-index: 100;
}

.loading-caption{
    font-family: var(--primary-font);
    font-size: 7rem;
    color: white;
}

.percent-text{
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.progress-bar-outer{
    width: 100vw;
}

.progress-bar{
    width: 100%;
}

.progress-fill{
    /* background-color: red; */
    width: 0%;
    height: 3px; 
}

.custom-radial-bg{
    background-color: var(--primary-background);
}