.project-outro{
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-bottom: 40px;
}

.right-arrow{
    margin-right: 20px; 
    font-size: 4rem;
}

.project-outro p{
    font-size: 1.8rem;
}

.outro-texts{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.contact-bar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.contact-container {
    width: auto;
}

.contact-bar .contact-container img{
    width: 30px;
    margin-right: 20px;
    border-radius: 2.5px;
}