.exp-sticky-container{
    height: 200vh !important;
}

.sticky-ref{
    min-height: 100vh !important;
}

.sticky-content{
    position: -webkit-sticky;
    position: sticky;
}

.card-image-con{
    align-items: center;
    justify-content: center;
}

.card-image-con img{
    max-height: 200px;
    width: auto;
    object-fit:scale-down !important;
}