.testing{
    background-color: white;
    width: 70vw;
}

.head{
    position: sticky;
    top: 0;
    height: 20px;
    width: auto;
    background-color: red;
}
.mid{
    min-height: 1000px;
    width: auto;
    background-color: blue; 
}
.foot{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: 20px;
    background-color: green; 
}